src/conf/xml-resources/web-service-references/transactions6/wsdl/transactions6.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="TransactionService" targetNamespace="http://aalto.fi/t-75.5300/bank" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://aalto.fi/t-75.5300/bank" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://aalto.fi/t-75.5300/bank" xmlns:tns="http://aalto.fi/t-75.5300/bank" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="makeVisaTransaction" type="tns:makeVisaTransaction"/>
  <xs:element name="makeVisaTransactionResponse" type="tns:makeVisaTransactionResponse"/>
  <xs:complexType name="makeVisaTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:visaTransaction"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="visaTransaction">
    <xs:sequence>
      <xs:element name="amountInCents" type="xs:int"/>
      <xs:element name="card" type="tns:visaCard"/>
      <xs:element name="targetIBAN" type="xs:string"/>
      <xs:element name="transactionMessage" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="visaCard">
    <xs:sequence>
      <xs:element name="owner" type="xs:string"/>
      <xs:element name="number" type="xs:string"/>
      <xs:element name="validYear" type="xs:int"/>
      <xs:element name="validMonth" type="xs:int"/>
      <xs:element name="csv" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="makeVisaTransactionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="result" type="tns:transactionResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transactionResult">
    <xs:sequence>
      <xs:element name="archiveNumber" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="transactionErrorReason">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INVALID_AMOUNT"/>
      <xs:enumeration value="INVALID_CARD_NUMBER"/>
      <xs:enumeration value="CARD_EXPIRED"/>
      <xs:enumeration value="INTERNAL_SERVER_ERROR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TransactionException" type="tns:TransactionException"/>
  <xs:complexType name="TransactionException">
    <xs:sequence>
      <xs:element name="message" nillable="true" type="xs:string"/>
      <xs:element name="reason" nillable="true" type="tns:transactionErrorReason"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="makeVisaTransactionResponse">
    <wsdl:part element="tns:makeVisaTransactionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="makeVisaTransaction">
    <wsdl:part element="tns:makeVisaTransaction" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TransactionException">
    <wsdl:part element="tns:TransactionException" name="TransactionException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Transactions">
    <wsdl:operation name="makeVisaTransaction">
      <wsdl:input message="tns:makeVisaTransaction" name="makeVisaTransaction">
    </wsdl:input>
      <wsdl:output message="tns:makeVisaTransactionResponse" name="makeVisaTransactionResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TransactionException" name="TransactionException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TransactionServiceSoapBinding" type="tns:Transactions">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="makeVisaTransaction">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="makeVisaTransaction">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="makeVisaTransactionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TransactionException">
        <soap:fault name="TransactionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransactionService">
    <wsdl:port binding="tns:TransactionServiceSoapBinding" name="TransactionsPort">
      <soap:address location="http://demo.seco.tkk.fi/ws/6/t755300bank/services/v1/transactions"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
